* {
	margin: 0;
	padding: 0;
}

section, header, footer, aside, article, nav {
	display: block;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

p {
	font-size: 12px;
	line-height: 18px;
	font-family: Arial, Verdana, helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

body {
	font-family: arial, Verdana, helvetica, sans-serif;
}

#slides {
	margin: 10px auto auto auto;
	overflow: hidden; 
  position: relative;
}

.hp_container {
  background: rgba(59,63,67,.8);
  position: absolute;
  width: 250px;
  margin: -300px 0 0 30px;
  padding: 10px 20px 70px 20px;
}

.hp_container h2 {
  font-size: 36px;
  color: white;
}

.hp_container p {
  font-size: 17px;
  color: white;
  margin-top: 10px;
}

.control {
  display: block;
  width: 52px;
  height: 52px;
  cursor: pointer;
}

#leftControl {
  position: relative;
  background:transparent url('../images/left_arrow.png') no-repeat 0 0;
  opacity: 0.85;
}

#leftControl:hover {
	opacity: 1;
}

#rightControl {
  position: relative;
  background:transparent url('../images/right_arrow.png') no-repeat 0 0; 
  opacity: 0.85;
}

#rightControl:hover {
  opacity: 1;
}

.circle {
	width: 13px; 
	height: 13px; 
	background: gray; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	border-radius: 7px;
}

#shapes {
	width: 100px;
    height: 30px;
    position: absolute;
    top: 0%;
}

#shapes ul {
    height: 30px;
    left: 50px;
    position: relative;
    top: 212px;
    width: 100px;
    z-index: 50;
}

#shapes ul li {
	float: left;
	margin-left: 5px;
}

